@media only screen and (max-width: 1100px){
    .header{
        .navigation{
            width: 100%;
            padding: 1rem 0;
            background-color: #fff;
            margin-bottom: 10%;
            box-shadow: 0 15px 10px 0 rgba(0,0,0,0.2);
            .nav__bar{
                .logo{
                    width: 30%;
                    a{
                    text-decoration: none;
                    color: black;
                        .fa-city{
                            font-size: 1.8rem;
                            color: black;
                        }
                        span{
                            font-size: 1.5rem;
                            font-family: Roboto Slab;
                            margin-right: 10px;
                            margin-left: 10px;
                        }
                        b{
                            font-size: 1.5rem;
                            font-family: Ubuntu;
                            color: #4252CE;
                        }
                    }
                }
                .nav{
                    a{
                        
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;
                        font-size: 0.8rem;
                        font-family: Ubuntu;
                        color: #737373;
                    }
                    i{
                        font-size: 2rem;
                        color: #4232C2;
                        display: none;
                    }
                }
                .social{
                    i{
                        font-size: 1.3rem;
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                .bars{
                    display: none;
                }
            }
        }
        .banner{
             .swiper{
                .swiper-slide{
                    padding: 3rem 0;
                }
                text-align: center;
                h1{
                    color: #6266EA;
                    font-family: Ubuntu;
                    font-size: 3rem;
                    width: 60%;
                    margin: 0 auto;
                    margin-bottom: 1.4rem;
                    span{
                        color: #4232C2;
                        font-family: Roboto Slab;
                        margin: 0 auto;
                    }
                }
                p{
                    width: 80%;
                    text-align: center;
                    color: #737373;
                    font-family: Ubuntu;
                    margin: 0 auto;
                }
                .swiper-scrollbar{
                    display: none;
                }
            }
        }  
    }
    // services
.services{
    .services__title{
        h2{
           font-size: 2.5rem; 
           font-family: Ubuntu;
           margin-bottom: 2rem;
        }
    }
    .services__item{
        .make__item{
            i{
                font-size: 2.2rem;
            }
        }
        p{
            width: 50%;
            font-family: Ubuntu;
            font-size: 0.9rem;
        }
    }
}
// succesful
.succesful{
    .succesful__content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        .btn__social{
            i{
                font-size: 4rem;
                color: white;
            }
        }
    }
}
// work
.work{
    .title{
        h2{
            font-size: 2.8rem;
            font-family: Ubuntu;
            margin-bottom: 1.5rem;
        }
    }
    .work__content{
        .work__item{
            .work__img{
                .img__title{
                    h2{
                        font-family: Roboto Slab;
                        font-size: 1.6rem;
                    }
                    p{
                        font-family: Ubuntu;
                    }
                }
                &:hover .work__shadow__blue{
                    transform: translateY(-30vh);
                }
            }
        }
    }
}
// footer
.footer{
    .footer__content{
        .footer__item__buzz{
            a{
                text-decoration: none;
                color: white;
                margin-bottom: 3rem;
                    .fa-city{
                        font-size: 1.5rem;
                        color: white;
                        margin-bottom: 1rem;
                    }
                    span{
                        font-size: 1.4rem;
                        font-family: Roboto Slab;
                        margin-right: 10px;
                        margin-left: 15px;
                    }
                    b{
                        font-size: 1.4rem;
                        font-family: Ubuntu;
                        color: white;
                }
            }
            p{
                font-size: 0.8rem;
            }
            .social__media{
                i{
                    margin-left: 8px;
                    margin-right: 8px;
                    color: white;
                    font-size: 1.5rem;
                }
            }
    
        }
        .footer__item{
            h2{
                color: white;
                font-family: Ubuntu;
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
        }
        .footer__item__for{
            h2{
                color: white;
                font-family: Ubuntu;
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
            .tel{
                margin-bottom: 1rem;
                i{
                    color: white;
                    font-size: 1.6rem;
                }
                a{
                    text-decoration: none;
                    color: white;
                    margin-left: 10px;
                    font-size: 1.1rem;
                    font-family: Roboto Slab;
                }
            }
            .gmail{
                i{
                    color: white;
                    font-size: 1.4rem;
                }
                a{
                    text-decoration: none;
                    color: white;
                    margin-left: 10px;
                    font-size: 0.9rem;
                    font-family: Roboto Slab;
          
                }
            }
        }    
    }
}
// copyright
.copyright{
    .copyright__content{
        .copyright__item{
            p{
                color: white;
                font-family: Ubuntu;
            }
        }
        .copyright__temp{
            p{
                color: white;
                a{
                    color: white;
                    text-decoration: none;
                    font-family: Roboto Slab;
                }
            }
        }
    }
}
// about qismi
.about__header{
    width: 100%;
    .navigation{
        width: 100%;
        padding: 1rem 0;
        background-color: #fff;
        margin-bottom: 20px;
        box-shadow: 0 15px 10px 0 rgba(0,0,0,0.2);
        .nav__bar{
            .logo{
                width: 30%;
                a{
                text-decoration: none;
                color: black;
                    .fa-city{
                        font-size: 1.8rem;
                        color: black;
                    }
                    span{
                        font-size: 1.5rem;
                        font-family: Roboto Slab;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                    b{
                        font-size: 1.5rem;
                        font-family: Ubuntu;
                        color: #4252CE;
                    }
                }
            }
            .nav{
                a{
                    
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    font-size: 0.8rem;
                    font-family: Ubuntu;
                    color: #737373;
                }
                i{
                    font-size: 2rem;
                    color: #4232C2;
                    display: none;
                }
            }
            .social{
                i{
                    font-size: 1.3rem;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .bars{
                display: none;
                }
            }
        }
        .about__header{
            .about__banner{
                .about__content{
                    .about__item{
                        h2{
                            font-size: 2.6rem;
                        }
                        p{
                            font-family: Roboto Slab;
                        }
                    }
                }
            }
        }
    }
// team
.about__team{
    .team__content{
        .team__item{
            width: 75%;
            h2{
                font-size: 2.2rem;
                font-family: Ubuntu;
                border-bottom: 5px solid #4252CE;
                margin-bottom: 1rem;
                display: inline-block;
            }
            p{
                font-family: Roboto Slab;
                font-size: 0.8rem;
            }
        }
    }
}
// perfect
.perfect{
    .perfect__content{
        .perfect__item{
            h2{
                font-size: 2.2rem;
            }
            p{
                font-size: 1rem;
                width: 80%;
            }
        }
    }
}
// choose
.choose{
    .choose__content{
        .choose__img{
            img{
                width: 80%;
            }
        }
        .choose__item{
            h2{
                margin-top: 12rem;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
            p{
                font-size: 1rem;
                font-family: Karla;
            }
        }
    }
}
// vision
.vision{
    .vision__content{
        .vision__item{
            p{
                font-family: Karla;
                width: 80%;
                margin: 0 auto;
                font-size: 0.9rem;
            }
        }
    }
}
// stay
.stay{
    .stay__banner{
        text-align: center;
        h2{
            font-size: 2.3rem;
        }
        p{
            font-size: 1.1rem;
        }
    }
}
// work
.work__header{
    .navigation{
        width: 100%;
        padding: 1rem 0;
        background-color: #fff;
        .nav__bar{
            .logo{
                width: 30%;
                a{
                text-decoration: none;
                color: black;
                    .fa-city{
                        font-size: 1.8rem;
                        color: black;
                    }
                    span{
                        font-size: 1.5rem;
                        font-family: Roboto Slab;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                    b{
                        font-size: 1.5rem;
                        font-family: Ubuntu;
                        color: #4252CE;
                    }
                }
            }
            .nav{
                a{
                    
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    font-size: 0.8rem;
                    font-family: Ubuntu;
                    color: #737373;
                }
                i{
                    font-size: 2rem;
                    color: #4232C2;
                    display: none;
                }
            }
            .social{
                i{
                    font-size: 1.3rem;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .bars{
                display: none;
                }
            }
        }
    }
// work digital
.work__digital{
    .work__title{
        .content__title{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 2.5rem;
            align-items: center;
            .title__item{
                font-size: 1rem;
                font-family: Ubuntu;
                padding: 0.5rem 0;

            }
        }
    }
}
// work blog
.work__blog{
    .work__container{
        gap: 3rem;
        .work__container__item{
            .digital__img{
                width: 100%;
                border-radius: 20px;
                margin-bottom: 0.5rem;
                img{
                    width: 100%;
                    border-radius: 10px;
                }
            }
            h2{
                font-family: Roboto Slab;
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
        }
    }
}
// transform
.transform{
    .transform__content{
        .transform__item{
            p{
                font-family: Karla;
                width: 80%;
                opacity: 0.60;
                font-size: 0.8rem;
            }
        }
    }
}
// footer
.footer{
    .footer__content{
        .footer__item__buzz{
            a{
                text-decoration: none;
                color: white;
                margin-bottom: 3rem;
                    .fa-city{
                        font-size: 1.5rem;
                        color: white;
                        margin-bottom: 1rem;
                    }
                    span{
                        font-size: 1.4rem;
                        font-family: Roboto Slab;
                        margin-right: 10px;
                        margin-left: 15px;
                    }
                    b{
                        font-size: 1.4rem;
                        font-family: Ubuntu;
                        color: white;
                }
            }
            p{
                font-size: 0.8rem;
            }
            .social__media{
                i{
                    margin-left: 8px;
                    margin-right: 8px;
                    color: white;
                    font-size: 1.5rem;
                }
            }
    
        }
        .footer__item{
            h2{
                color: white;
                font-family: Ubuntu;
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
        }
        .footer__item__for{
            h2{
                color: white;
                font-family: Ubuntu;
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
            .tel{
                margin-bottom: 1rem;
                i{
                    color: white;
                    font-size: 1.6rem;
                }
                a{
                    text-decoration: none;
                    color: white;
                    margin-left: 10px;
                    font-size: 1.1rem;
                    font-family: Roboto Slab;
                }
            }
            .gmail{
                i{
                    color: white;
                    font-size: 1.4rem;
                }
                a{
                    text-decoration: none;
                    color: white;
                    margin-left: 10px;
                    font-size: 0.8rem;
                    font-family: Roboto Slab;
          
                }
            }
        }    
    }
}
// copyright
.copyright{
    .copyright__content{
        .copyright__item{
            p{
                color: white;
                font-family: Ubuntu;
            }
        }
        .copyright__temp{
            p{
                color: white;
                a{
                    color: white;
                    text-decoration: none;
                    font-family: Roboto Slab;
                }
            }
        }
    }
}
// pricing qismi
.pricing__header{
    .navigation{
        width: 100%;
        padding: 1rem 0;
        background-color: #fff;
        margin-bottom: 20px;
        box-shadow: 0 15px 10px 0 rgba(0,0,0,0.2);
        .nav__bar{
            .logo{
                width: 30%;
                a{
                text-decoration: none;
                color: black;
                    .fa-city{
                        font-size: 1.8rem;
                        color: black;
                    }
                    span{
                        font-size: 1.5rem;
                        font-family: Roboto Slab;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                    b{
                        font-size: 1.5rem;
                        font-family: Ubuntu;
                        color: #4252CE;
                    }
                }
            }
            .nav{
                a{
                    
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    font-size: 0.8rem;
                    font-family: Ubuntu;
                    color: #737373;
                }
                i{
                    font-size: 2rem;
                    color: #4232C2;
                    display: none;
                }
            }
            .social{
                i{
                    font-size: 1.3rem;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .bars{
                display: none;
                }
            }
        }
    }
// pricing plan
.pricing__plan{
    .pricing__content{
        gap: 4rem;
        .pricing__item{
            .pricing__table{
                width: 60%;
                margin: 0 auto;
                .fa-cube{
                    font-size: 3.5rem;
                    color: #6266EA;
                    margin-bottom: 0.5rem;
                }
                h3{
                    font-family: Ubuntu;
                    margin-bottom: 0.5rem;
                    font-size: 1.2rem;
                }
                span{
                    display: block;
                    font-size: 0.9rem;
                }
                b{
                    font-size: 0.8rem;
                    i{
                        margin-right: 10px;
                    }
                }
            }

        }
        .standard__item{
            padding: 5rem 0rem;
            .pricing__table{
                width: 60%;
                .fa-cube{
                    font-size: 3.5rem;
                    margin-bottom: 1rem;
                }
                h3{
                    font-size: 1.3rem;
                    margin-bottom: 0.5rem;
                }
                span{
                    display: block;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    font-family: Roboto Slab;
                }
            }
        }
    }
}
// our pricing
.our__pricing{
    .our__banner{
        width: 100%;
        .our__pricing__content{
            gap: 2rem;
            .pricing__btn{
                background-color: #6266EA;
                width: 70%;
                border-radius: 20px;
                padding: 1.5rem 1.5rem;
            }
            .our__item{
                padding: 1.5rem 1rem;
                b{
                    font-size: 0.8rem;
                    i{
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}
// pricing story
.story__pricing{
    .story__title{
        margin-bottom: 3rem;
    }
    .story__content{
        .story__item{
            .item__content{
                .story__btn{
                    i{
                        margin-top: 15px;
                    }
                }
                .story__text{
                    h3{
                        font-family: Ubuntu;
                        font-size: 1.2rem;
                        margin-bottom: 0.5rem;
                    }
                    p{
                        font-family: Karla;
                        font-size: 0.9rem;
                    }
                }
                .story__button{
                    button{
                        padding: 0.6rem 1.5rem;
                        border-radius: 30px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
// footer
.footer{
    .footer__content{
        .footer__item__buzz{
            a{
                text-decoration: none;
                color: white;
                margin-bottom: 3rem;
                    .fa-city{
                        font-size: 1.5rem;
                        color: white;
                        margin-bottom: 1rem;
                    }
                    span{
                        font-size: 1.4rem;
                        font-family: Roboto Slab;
                        margin-right: 10px;
                        margin-left: 15px;
                    }
                    b{
                        font-size: 1.4rem;
                        font-family: Ubuntu;
                        color: white;
                }
            }
            p{
                font-size: 0.8rem;
            }
            .social__media{
                i{
                    margin-left: 8px;
                    margin-right: 8px;
                    color: white;
                    font-size: 1.5rem;
                }
            }
    
        }
        .footer__item{
            h2{
                color: white;
                font-family: Ubuntu;
                font-size: 1.6rem;
                margin-bottom: 1rem;
            }
        }
        .footer__item__for{
            h2{
                color: white;
                font-family: Ubuntu;
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
            .tel{
                margin-bottom: 1rem;
                i{
                    color: white;
                    font-size: 1.6rem;
                }
                a{
                    text-decoration: none;
                    color: white;
                    margin-left: 10px;
                    font-size: 1.1rem;
                    font-family: Roboto Slab;
                }
            }
            .gmail{
                i{
                    color: white;
                    font-size: 1.4rem;
                }
                a{
                    text-decoration: none;
                    color: white;
                    margin-left: 10px;
                    font-size: 0.8rem;
                    font-family: Roboto Slab;
          
                }
            }
        }    
    }
}
// copyright
.copyright{
    .copyright__content{
        .copyright__item{
            p{
                color: white;
                font-family: Ubuntu;
            }
        }
        .copyright__temp{
            p{
                color: white;
                a{
                    color: white;
                    text-decoration: none;
                    font-family: Roboto Slab;
                }
            }
        }
    }
}
// contact qismi
.contact__header{
    .navigation{
        width: 100%;
        padding: 1rem 0;
        background-color: #fff;
        margin-bottom: 20px;
        box-shadow: 0 15px 10px 0 rgba(0,0,0,0.2);
        .nav__bar{
            .logo{
                width: 30%;
                a{
                text-decoration: none;
                color: black;
                    .fa-city{
                        font-size: 1.8rem;
                        color: black;
                    }
                    span{
                        font-size: 1.5rem;
                        font-family: Roboto Slab;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                    b{
                        font-size: 1.5rem;
                        font-family: Ubuntu;
                        color: #4252CE;
                    }
                }
            }
            .nav{
                a{
                    
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    font-size: 0.8rem;
                    font-family: Ubuntu;
                    color: #737373;
                }
                i{
                    font-size: 2rem;
                    color: #4232C2;
                    display: none;
                }
            }
            .social{
                i{
                    font-size: 1.3rem;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .bars{
                display: none;
                }
            }
        }
    }
// contact input
.contact__section{
    .contact__title{
        h2{
            font-size: 2.2rem;
        }
        p{
            font-size: 1rem;
        }
    }
    .contact__section__content{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        align-items: center;
        .media__item{
            width: 100%;
            .media__content{
                width: 65%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-bottom: 2rem;
                align-items: center;
                gap: 1rem;
            }
        }
    }
}
// digital qismi
.digital__header{
    .navigation{
        width: 100%;
        padding: 1rem 0;
        background-color: #fff;
        .nav__bar{
            .logo{
                width: 30%;
                a{
                text-decoration: none;
                color: black;
                    .fa-city{
                        font-size: 1.8rem;
                        color: black;
                    }
                    span{
                        font-size: 1.5rem;
                        font-family: Roboto Slab;
                        margin-right: 10px;
                        margin-left: 10px;
                    }
                    b{
                        font-size: 1.5rem;
                        font-family: Ubuntu;
                        color: #4252CE;
                    }
                }
            }
            .nav{
                a{
                    
                    margin-left: 1.5rem;
                    margin-right: 1.5rem;
                    font-size: 0.8rem;
                    font-family: Ubuntu;
                    color: #737373;
                }
                i{
                    font-size: 2rem;
                    color: #4232C2;
                    display: none;
                }
            }
            .social{
                i{
                    font-size: 1.3rem;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .bars{
                display: none;
                }
            }
        }
    }
// digital text
.digital__section{
    .text__banner{
        .vesti{
            h3{
                font-size: 2.2rem;
                font-family: Ubuntu;
            }
        }
    }
}
//comment
.comment{
    .comment__banner{
        .comment__content{
            .comment__img{
                width: 18%;
            }
        }
    }
}

}

@media only screen and (max-width: 768px){
    
}
