@media only screen and (max-width: 1100px) {
  .header .navigation {
    width: 100%;
    padding: 1rem 0;
    background-color: #fff;
    margin-bottom: 10%;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .header .navigation .nav__bar .logo {
    width: 30%;
  }
  .header .navigation .nav__bar .logo a {
    text-decoration: none;
    color: black;
  }
  .header .navigation .nav__bar .logo a .fa-city {
    font-size: 1.8rem;
    color: black;
  }
  .header .navigation .nav__bar .logo a span {
    font-size: 1.5rem;
    font-family: Roboto Slab;
    margin-right: 10px;
    margin-left: 10px;
  }
  .header .navigation .nav__bar .logo a b {
    font-size: 1.5rem;
    font-family: Ubuntu;
    color: #4252CE;
  }
  .header .navigation .nav__bar .nav a {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 0.8rem;
    font-family: Ubuntu;
    color: #737373;
  }
  .header .navigation .nav__bar .nav i {
    font-size: 2rem;
    color: #4232C2;
    display: none;
  }
  .header .navigation .nav__bar .social i {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header .navigation .nav__bar .bars {
    display: none;
  }
  .header .banner .swiper {
    text-align: center;
  }
  .header .banner .swiper .swiper-slide {
    padding: 3rem 0;
  }
  .header .banner .swiper h1 {
    color: #6266EA;
    font-family: Ubuntu;
    font-size: 3rem;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1.4rem;
  }
  .header .banner .swiper h1 span {
    color: #4232C2;
    font-family: Roboto Slab;
    margin: 0 auto;
  }
  .header .banner .swiper p {
    width: 80%;
    text-align: center;
    color: #737373;
    font-family: Ubuntu;
    margin: 0 auto;
  }
  .header .banner .swiper .swiper-scrollbar {
    display: none;
  }
  .services .services__title h2 {
    font-size: 2.5rem;
    font-family: Ubuntu;
    margin-bottom: 2rem;
  }
  .services .services__item .make__item i {
    font-size: 2.2rem;
  }
  .services .services__item p {
    width: 50%;
    font-family: Ubuntu;
    font-size: 0.9rem;
  }
  .succesful .succesful__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
  }
  .succesful .succesful__content .btn__social i {
    font-size: 4rem;
    color: white;
  }
  .work .title h2 {
    font-size: 2.8rem;
    font-family: Ubuntu;
    margin-bottom: 1.5rem;
  }
  .work .work__content .work__item .work__img .img__title h2 {
    font-family: Roboto Slab;
    font-size: 1.6rem;
  }
  .work .work__content .work__item .work__img .img__title p {
    font-family: Ubuntu;
  }
  .work .work__content .work__item .work__img:hover .work__shadow__blue {
    transform: translateY(-30vh);
  }
  .footer .footer__content .footer__item__buzz a {
    text-decoration: none;
    color: white;
    margin-bottom: 3rem;
  }
  .footer .footer__content .footer__item__buzz a .fa-city {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__buzz a span {
    font-size: 1.4rem;
    font-family: Roboto Slab;
    margin-right: 10px;
    margin-left: 15px;
  }
  .footer .footer__content .footer__item__buzz a b {
    font-size: 1.4rem;
    font-family: Ubuntu;
    color: white;
  }
  .footer .footer__content .footer__item__buzz p {
    font-size: 0.8rem;
  }
  .footer .footer__content .footer__item__buzz .social__media i {
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    font-size: 1.5rem;
  }
  .footer .footer__content .footer__item h2 {
    color: white;
    font-family: Ubuntu;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__for h2 {
    color: white;
    font-family: Ubuntu;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__for .tel {
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__for .tel i {
    color: white;
    font-size: 1.6rem;
  }
  .footer .footer__content .footer__item__for .tel a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 1.1rem;
    font-family: Roboto Slab;
  }
  .footer .footer__content .footer__item__for .gmail i {
    color: white;
    font-size: 1.4rem;
  }
  .footer .footer__content .footer__item__for .gmail a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 0.9rem;
    font-family: Roboto Slab;
  }
  .copyright .copyright__content .copyright__item p {
    color: white;
    font-family: Ubuntu;
  }
  .copyright .copyright__content .copyright__temp p {
    color: white;
  }
  .copyright .copyright__content .copyright__temp p a {
    color: white;
    text-decoration: none;
    font-family: Roboto Slab;
  }
  .about__header {
    width: 100%;
  }
  .about__header .navigation {
    width: 100%;
    padding: 1rem 0;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .about__header .navigation .nav__bar .logo {
    width: 30%;
  }
  .about__header .navigation .nav__bar .logo a {
    text-decoration: none;
    color: black;
  }
  .about__header .navigation .nav__bar .logo a .fa-city {
    font-size: 1.8rem;
    color: black;
  }
  .about__header .navigation .nav__bar .logo a span {
    font-size: 1.5rem;
    font-family: Roboto Slab;
    margin-right: 10px;
    margin-left: 10px;
  }
  .about__header .navigation .nav__bar .logo a b {
    font-size: 1.5rem;
    font-family: Ubuntu;
    color: #4252CE;
  }
  .about__header .navigation .nav__bar .nav a {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 0.8rem;
    font-family: Ubuntu;
    color: #737373;
  }
  .about__header .navigation .nav__bar .nav i {
    font-size: 2rem;
    color: #4232C2;
    display: none;
  }
  .about__header .navigation .nav__bar .social i {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .about__header .navigation .nav__bar .bars {
    display: none;
  }
  .about__header .about__header .about__banner .about__content .about__item h2 {
    font-size: 2.6rem;
  }
  .about__header .about__header .about__banner .about__content .about__item p {
    font-family: Roboto Slab;
  }
  .about__team .team__content .team__item {
    width: 75%;
  }
  .about__team .team__content .team__item h2 {
    font-size: 2.2rem;
    font-family: Ubuntu;
    border-bottom: 5px solid #4252CE;
    margin-bottom: 1rem;
    display: inline-block;
  }
  .about__team .team__content .team__item p {
    font-family: Roboto Slab;
    font-size: 0.8rem;
  }
  .perfect .perfect__content .perfect__item h2 {
    font-size: 2.2rem;
  }
  .perfect .perfect__content .perfect__item p {
    font-size: 1rem;
    width: 80%;
  }
  .choose .choose__content .choose__img img {
    width: 80%;
  }
  .choose .choose__content .choose__item h2 {
    margin-top: 12rem;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .choose .choose__content .choose__item p {
    font-size: 1rem;
    font-family: Karla;
  }
  .vision .vision__content .vision__item p {
    font-family: Karla;
    width: 80%;
    margin: 0 auto;
    font-size: 0.9rem;
  }
  .stay .stay__banner {
    text-align: center;
  }
  .stay .stay__banner h2 {
    font-size: 2.3rem;
  }
  .stay .stay__banner p {
    font-size: 1.1rem;
  }
  .work__header .navigation {
    width: 100%;
    padding: 1rem 0;
    background-color: #fff;
  }
  .work__header .navigation .nav__bar .logo {
    width: 30%;
  }
  .work__header .navigation .nav__bar .logo a {
    text-decoration: none;
    color: black;
  }
  .work__header .navigation .nav__bar .logo a .fa-city {
    font-size: 1.8rem;
    color: black;
  }
  .work__header .navigation .nav__bar .logo a span {
    font-size: 1.5rem;
    font-family: Roboto Slab;
    margin-right: 10px;
    margin-left: 10px;
  }
  .work__header .navigation .nav__bar .logo a b {
    font-size: 1.5rem;
    font-family: Ubuntu;
    color: #4252CE;
  }
  .work__header .navigation .nav__bar .nav a {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 0.8rem;
    font-family: Ubuntu;
    color: #737373;
  }
  .work__header .navigation .nav__bar .nav i {
    font-size: 2rem;
    color: #4232C2;
    display: none;
  }
  .work__header .navigation .nav__bar .social i {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .work__header .navigation .nav__bar .bars {
    display: none;
  }
  .work__digital .work__title .content__title {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.5rem;
    align-items: center;
  }
  .work__digital .work__title .content__title .title__item {
    font-size: 1rem;
    font-family: Ubuntu;
    padding: 0.5rem 0;
  }
  .work__blog .work__container {
    gap: 3rem;
  }
  .work__blog .work__container .work__container__item .digital__img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 0.5rem;
  }
  .work__blog .work__container .work__container__item .digital__img img {
    width: 100%;
    border-radius: 10px;
  }
  .work__blog .work__container .work__container__item h2 {
    font-family: Roboto Slab;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .transform .transform__content .transform__item p {
    font-family: Karla;
    width: 80%;
    opacity: 0.6;
    font-size: 0.8rem;
  }
  .footer .footer__content .footer__item__buzz a {
    text-decoration: none;
    color: white;
    margin-bottom: 3rem;
  }
  .footer .footer__content .footer__item__buzz a .fa-city {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__buzz a span {
    font-size: 1.4rem;
    font-family: Roboto Slab;
    margin-right: 10px;
    margin-left: 15px;
  }
  .footer .footer__content .footer__item__buzz a b {
    font-size: 1.4rem;
    font-family: Ubuntu;
    color: white;
  }
  .footer .footer__content .footer__item__buzz p {
    font-size: 0.8rem;
  }
  .footer .footer__content .footer__item__buzz .social__media i {
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    font-size: 1.5rem;
  }
  .footer .footer__content .footer__item h2 {
    color: white;
    font-family: Ubuntu;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__for h2 {
    color: white;
    font-family: Ubuntu;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__for .tel {
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__for .tel i {
    color: white;
    font-size: 1.6rem;
  }
  .footer .footer__content .footer__item__for .tel a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 1.1rem;
    font-family: Roboto Slab;
  }
  .footer .footer__content .footer__item__for .gmail i {
    color: white;
    font-size: 1.4rem;
  }
  .footer .footer__content .footer__item__for .gmail a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 0.8rem;
    font-family: Roboto Slab;
  }
  .copyright .copyright__content .copyright__item p {
    color: white;
    font-family: Ubuntu;
  }
  .copyright .copyright__content .copyright__temp p {
    color: white;
  }
  .copyright .copyright__content .copyright__temp p a {
    color: white;
    text-decoration: none;
    font-family: Roboto Slab;
  }
  .pricing__header .navigation {
    width: 100%;
    padding: 1rem 0;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .pricing__header .navigation .nav__bar .logo {
    width: 30%;
  }
  .pricing__header .navigation .nav__bar .logo a {
    text-decoration: none;
    color: black;
  }
  .pricing__header .navigation .nav__bar .logo a .fa-city {
    font-size: 1.8rem;
    color: black;
  }
  .pricing__header .navigation .nav__bar .logo a span {
    font-size: 1.5rem;
    font-family: Roboto Slab;
    margin-right: 10px;
    margin-left: 10px;
  }
  .pricing__header .navigation .nav__bar .logo a b {
    font-size: 1.5rem;
    font-family: Ubuntu;
    color: #4252CE;
  }
  .pricing__header .navigation .nav__bar .nav a {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 0.8rem;
    font-family: Ubuntu;
    color: #737373;
  }
  .pricing__header .navigation .nav__bar .nav i {
    font-size: 2rem;
    color: #4232C2;
    display: none;
  }
  .pricing__header .navigation .nav__bar .social i {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .pricing__header .navigation .nav__bar .bars {
    display: none;
  }
  .pricing__plan .pricing__content {
    gap: 4rem;
  }
  .pricing__plan .pricing__content .pricing__item .pricing__table {
    width: 60%;
    margin: 0 auto;
  }
  .pricing__plan .pricing__content .pricing__item .pricing__table .fa-cube {
    font-size: 3.5rem;
    color: #6266EA;
    margin-bottom: 0.5rem;
  }
  .pricing__plan .pricing__content .pricing__item .pricing__table h3 {
    font-family: Ubuntu;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  .pricing__plan .pricing__content .pricing__item .pricing__table span {
    display: block;
    font-size: 0.9rem;
  }
  .pricing__plan .pricing__content .pricing__item .pricing__table b {
    font-size: 0.8rem;
  }
  .pricing__plan .pricing__content .pricing__item .pricing__table b i {
    margin-right: 10px;
  }
  .pricing__plan .pricing__content .standard__item {
    padding: 5rem 0rem;
  }
  .pricing__plan .pricing__content .standard__item .pricing__table {
    width: 60%;
  }
  .pricing__plan .pricing__content .standard__item .pricing__table .fa-cube {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  .pricing__plan .pricing__content .standard__item .pricing__table h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  .pricing__plan .pricing__content .standard__item .pricing__table span {
    display: block;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: Roboto Slab;
  }
  .our__pricing .our__banner {
    width: 100%;
  }
  .our__pricing .our__banner .our__pricing__content {
    gap: 2rem;
  }
  .our__pricing .our__banner .our__pricing__content .pricing__btn {
    background-color: #6266EA;
    width: 70%;
    border-radius: 20px;
    padding: 1.5rem 1.5rem;
  }
  .our__pricing .our__banner .our__pricing__content .our__item {
    padding: 1.5rem 1rem;
  }
  .our__pricing .our__banner .our__pricing__content .our__item b {
    font-size: 0.8rem;
  }
  .our__pricing .our__banner .our__pricing__content .our__item b i {
    margin-right: 10px;
  }
  .story__pricing .story__title {
    margin-bottom: 3rem;
  }
  .story__pricing .story__content .story__item .item__content .story__btn i {
    margin-top: 15px;
  }
  .story__pricing .story__content .story__item .item__content .story__text h3 {
    font-family: Ubuntu;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .story__pricing .story__content .story__item .item__content .story__text p {
    font-family: Karla;
    font-size: 0.9rem;
  }
  .story__pricing .story__content .story__item .item__content .story__button button {
    padding: 0.6rem 1.5rem;
    border-radius: 30px;
    margin-top: 20px;
  }
  .footer .footer__content .footer__item__buzz a {
    text-decoration: none;
    color: white;
    margin-bottom: 3rem;
  }
  .footer .footer__content .footer__item__buzz a .fa-city {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__buzz a span {
    font-size: 1.4rem;
    font-family: Roboto Slab;
    margin-right: 10px;
    margin-left: 15px;
  }
  .footer .footer__content .footer__item__buzz a b {
    font-size: 1.4rem;
    font-family: Ubuntu;
    color: white;
  }
  .footer .footer__content .footer__item__buzz p {
    font-size: 0.8rem;
  }
  .footer .footer__content .footer__item__buzz .social__media i {
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    font-size: 1.5rem;
  }
  .footer .footer__content .footer__item h2 {
    color: white;
    font-family: Ubuntu;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__for h2 {
    color: white;
    font-family: Ubuntu;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__for .tel {
    margin-bottom: 1rem;
  }
  .footer .footer__content .footer__item__for .tel i {
    color: white;
    font-size: 1.6rem;
  }
  .footer .footer__content .footer__item__for .tel a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 1.1rem;
    font-family: Roboto Slab;
  }
  .footer .footer__content .footer__item__for .gmail i {
    color: white;
    font-size: 1.4rem;
  }
  .footer .footer__content .footer__item__for .gmail a {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 0.8rem;
    font-family: Roboto Slab;
  }
  .copyright .copyright__content .copyright__item p {
    color: white;
    font-family: Ubuntu;
  }
  .copyright .copyright__content .copyright__temp p {
    color: white;
  }
  .copyright .copyright__content .copyright__temp p a {
    color: white;
    text-decoration: none;
    font-family: Roboto Slab;
  }
  .contact__header .navigation {
    width: 100%;
    padding: 1rem 0;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.2);
  }
  .contact__header .navigation .nav__bar .logo {
    width: 30%;
  }
  .contact__header .navigation .nav__bar .logo a {
    text-decoration: none;
    color: black;
  }
  .contact__header .navigation .nav__bar .logo a .fa-city {
    font-size: 1.8rem;
    color: black;
  }
  .contact__header .navigation .nav__bar .logo a span {
    font-size: 1.5rem;
    font-family: Roboto Slab;
    margin-right: 10px;
    margin-left: 10px;
  }
  .contact__header .navigation .nav__bar .logo a b {
    font-size: 1.5rem;
    font-family: Ubuntu;
    color: #4252CE;
  }
  .contact__header .navigation .nav__bar .nav a {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 0.8rem;
    font-family: Ubuntu;
    color: #737373;
  }
  .contact__header .navigation .nav__bar .nav i {
    font-size: 2rem;
    color: #4232C2;
    display: none;
  }
  .contact__header .navigation .nav__bar .social i {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .contact__header .navigation .nav__bar .bars {
    display: none;
  }
  .contact__section .contact__title h2 {
    font-size: 2.2rem;
  }
  .contact__section .contact__title p {
    font-size: 1rem;
  }
  .contact__section .contact__section__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
  }
  .contact__section .contact__section__content .media__item {
    width: 100%;
  }
  .contact__section .contact__section__content .media__item .media__content {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    align-items: center;
    gap: 1rem;
  }
  .digital__header .navigation {
    width: 100%;
    padding: 1rem 0;
    background-color: #fff;
  }
  .digital__header .navigation .nav__bar .logo {
    width: 30%;
  }
  .digital__header .navigation .nav__bar .logo a {
    text-decoration: none;
    color: black;
  }
  .digital__header .navigation .nav__bar .logo a .fa-city {
    font-size: 1.8rem;
    color: black;
  }
  .digital__header .navigation .nav__bar .logo a span {
    font-size: 1.5rem;
    font-family: Roboto Slab;
    margin-right: 10px;
    margin-left: 10px;
  }
  .digital__header .navigation .nav__bar .logo a b {
    font-size: 1.5rem;
    font-family: Ubuntu;
    color: #4252CE;
  }
  .digital__header .navigation .nav__bar .nav a {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 0.8rem;
    font-family: Ubuntu;
    color: #737373;
  }
  .digital__header .navigation .nav__bar .nav i {
    font-size: 2rem;
    color: #4232C2;
    display: none;
  }
  .digital__header .navigation .nav__bar .social i {
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
  }
  .digital__header .navigation .nav__bar .bars {
    display: none;
  }
  .digital__section .text__banner .vesti h3 {
    font-size: 2.2rem;
    font-family: Ubuntu;
  }
  .comment .comment__banner .comment__content .comment__img {
    width: 18%;
  }
}/*# sourceMappingURL=responsive.css.map */